

{% load static %}

<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Neeraj Atri. </title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400' rel="stylesheet" />    
	<link href="{% static 'css/templatemo-style.css' %} " rel="stylesheet" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	

</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body> 

	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder" style="background-image: url('https://encriptedfiles.blob.core.windows.net/staticbook/chhatrapati-shivaji-maharaj.webp');
		min-height: 100%;
		background-size: cover;" >
			<div class="parallax-window"  >
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							
							<div class="tm-site-text-box">

							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">

							</ul>
						</nav>	
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
                <h4 class="col-12 text-center tm-section-title">⚔   knowledge isn't power  ⚔<br>🚩   until it is applied   🚩</h4> 


			</header>
			


			<!-- Gallery -->
			<div class="row tm-gallery">
				<!-- gallery page 1 -->
				<div id="tm-gallery-page-pizza" class="tm-gallery-page">
					
					
                    {% for book in booksdis %}
                    <article class="col-lg-3 col-md-4 col-sm-6 col-xl-12 tm-gallery-item">
                      <figure>
                        
                        <img src=" {{ book.icon.url }} " alt="Image" width="500" height="600"  class="img-fluid tm-gallery-img" />
                        <figcaption>
                          <h4 class="tm-gallery-title">{{book.name}}</h4>
                          <a href= {{ book.book.url }} download>
                            <button class="btn"><i class="fa fa-download"></i> Download</button>
                          </a>
                          <p class="tm-gallery-description">{{book.description}}</p>
                          
                        </figcaption>
                      </figure>
                    </article>
                  {% endfor %}
					
				
				</div> <!-- gallery page 1 -->
				
			</div>

			
		</main>
<!-- 
		<footer class="tm-footer text-center">
			<p>Copyright &copy; dnyaneshwar
            
            | Designer:  <a rel="nofollow" href="http://dnyanesh-website-testing-2.herokuapp.com/about"> Dnyaneshwar Mogal </a></p>
		</footer> -->
				</div> <!-- gallery page 1 -->
				
			</div>
			<div class="tm-section tm-container-inner">
				<div class="row">
					<div class="col-md-6">
					
	</div>

</body>
</html>